In [10]:
%load_ext sql

In [5]:
import psycopg2

In [12]:
conn = psycopg2.connect(
    host="localhost",
    port=5432,
    user="postgres",
    password="colinkspace",
    database="colinkspace"
)

In [15]:
# postgresql://{user}:{password}@{url}:{port}/{database}
connection_string = f"postgresql://postgres:colinkspace@localhost:5432/colinkspace"

In [16]:
%sql $connection_string

'Connected: postgres@colinkspace'

In [18]:
%%sql
SELECT *
FROM information_schema.tables
WHERE table_schema = 'public';

 * postgresql://postgres:***@localhost:5432/colinkspace
6 rows affected.

[('colinkspace', 'public', 'users', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('colinkspace', 'public', 'space_owners', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('colinkspace', 'public', 'spaces', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('colinkspace', 'public', 'space_contributors', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('colinkspace', 'public', 'links', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('colinkspace', 'public', 'posts', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)]

In [27]:
%sql select * from users limit 3;

 * postgresql://postgres:***@localhost:5432/colinkspace
3 rows affected.

[(UUID('ba86b5c1-53e7-40bf-8275-dca0469855d9'), 'Antonio Tanner', 'antonio.tanner@pm.me'),
 (UUID('ed38c8df-5aa3-4691-b459-dc09ce7a259c'), 'Yvette Jenny', 'yvette.jenny@bluewin.ch'),
 (UUID('b2fb4430-3e16-4aac-b6dd-1774f0f7833e'), 'Elin Fässler', 'elin.fässler@protonmail.com')]

In [26]:
%sql select * from spaces limit 3;

 * postgresql://postgres:***@localhost:5432/colinkspace
3 rows affected.

[(UUID('db1a0699-3500-412e-80ca-79a8c19fd792'), "Antonio Tanner's Personal Space", datetime.date(2021, 12, 5)),
 (UUID('cf66f611-b05a-42a9-93ee-dbab5c9bd2c7'), "Yvette Jenny's Personal Space", datetime.date(2021, 12, 5)),
 (UUID('96adaf5d-da57-4b25-ac10-4cf056e917a9'), "Elin Fässler's Personal Space", datetime.date(2021, 12, 5))]

In [25]:
%sql select * from links limit 3;

 * postgresql://postgres:***@localhost:5432/colinkspace
3 rows affected.

[(UUID('995c8b97-a2c6-4ecc-a34e-df72f14e1ccd'), 'https://www.saferleftturns.org', "Safety-It's Your Turn : Vision Zero SF", 'At SFMTA, weâ\x80\x99re working hard to help drivers make left turns the right way. Weâ\x80\x99ve installed Left Turn Guide Bumps at designated intersections around the City, with painted safety zones and raised bumps to remind drivers to slow down and make squarer left turns.', None),
 (UUID('c68dce9c-aee7-4d73-826d-00cdb8917caf'), 'https://blog.sesse.net/blog/tech/2021-12-05-16-41_leaving_mysql.html', 'Steinar H. Gunderson', 'Today was my last day at Oracle, and thus also in the MySQL team.', None),
 (UUID('3b85888e-fffc-4522-80e0-c009b48effc2'), 'https://www.pixelbeat.org/docs/coreutils-testing.html', 'How the GNU coreutils are tested', 'Tools and techniques used to test coreutils', None)]